@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

@keyframes move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #2C3639, #3F4E4F, #A27B5C);
    background-size: 300% 300%;
    animation: move 15s ease infinite;
    overflow: hidden;
}

div#center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
}

div#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
}

ul {
    position: relative;
    top: 11px;
    background-color: white;
    width: min(270px, 380px);
    margin: auto;
    list-style-position: inside;
    padding-left: 15px;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-shadow: 8px 8px 20px #00000038;
}

ul#first-list {
    margin-right: 10px;
    width: min(315px, 320px);
}

li {
    text-align: left;
    padding: 10px;
    cursor: pointer;
    color: rgb(52, 102, 114);
    font-size: 15px;
}

li:hover {
    color: rgb(44, 123, 143);
    font-size: 15.5px;
}

#reset {
    background-color: white;
    width: min(360px, 405px);
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-weight: normal;
    text-align: left;
    padding: 10px;
    margin: auto;
    box-shadow: 7px 7px 20px #00000047;
    display: none;
    margin-top: 50px;
}